:host {
    ion-fab {
        top: 36px;
    }

    ion-note.nottext{
        --color: initial;
        display: block;
        color: var(--color);
        font-family: var(--ion-font-family,inherit);
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: bold;
    }

    ion-card-subtitle.cardsubtitle {
        color: #fa9a22;
        font-weight: bold;
        font-size: initial;
        padding-bottom: inherit !important;
    }

    ion-card.citation-info {
        margin-top: 120px;
    }

    .qr-button-container {
        margin-top: 10vh;

        h5 {
            color: var(--theme-blue);
            font-size: 18px;
            font-weight: 200;
        }
    }

    ion-button.btn-scan {
        --border-radius: 50%;
        width: 64px;
        height: 64px;
        font-size: 18px;
    }

    ion-buttons {

        ion-button {
            --background-activated: transparent !important;
        }
    }
}